.main-table {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 1.1rem;
  border: 1px solid rgb(205, 200, 200);
  border-radius: 5px;


}

.main-table a {
  color: var(--color-green);
}

.main-table th {
  padding: 0.75rem;
  border-bottom: 1px solid rgb(205, 200, 200);
}

.main-table td {
  padding: 0.75rem;
  border-bottom: 1px solid rgb(205, 200, 200);
}

.main-table a:hover {
  color: var(--hover-green)
}